@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  width: 800px;
}
header {
  border-top: 2px solid #fcee21;
}

.fondoAmarillo {
  background-color: #fcee21;
  display: inline;
}

h2 strong,
h1 {
  font-family: Coiny;
  font-size: 42px;
}

h2 strong {
  font-size: 3em;
}

a {
  text-decoration: none;
  color: #666;
  font-size: 32px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
  color: #333;
  transition-duration: 300ms;
}
