@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto;
  width: fit-content;
  margin-left: 10%;
  margin-right: 10%;
}
header {
  border-top: 2px solid #fcee21;
}
#seccion1 div h2 {
  font-size: 64px;
  line-height: 1.2em;
}
header h3 {
  font-size: 27px;
  font-weight: 400;
}
main section h2 {
  font-size: 35px;
  line-height: 1em;
}
main section h3 {
  font-size: 27px;
  font-weight: 400;
}
header ul {
  list-style: none;
}
header ul li a {
  padding-left: 30px;
  padding-right: 30px;
}
header nav {
  display: flex;
  align-items: center;
}

#contacto {
  font-size: 68px;
  color: white;
  background-color: #000;
  line-height: 1.5em;
  display: inline;
}
footer p {
  font-size: 44px;
  font-weight: 700;
}
footer a {
  font-size: 28px;
  color: #000;
}

.fondoAmarillo {
  background-color: #fcee21;
  display: inline;
}
.liamarillo::before {
  background-color: #fcee21;
}
ol {
  counter-reset: myOrderedListItemsCounter;
}
ol li {
  list-style-type: none;
}
ol li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter) ".";
  margin-right: 0.5em;
}

.coiny {
  font-family: Coiny;
}

h1 {
  font-size: 56px;
}
h2 strong {
  font-size: 117px;
}

a {
  text-decoration: none;
  color: #666;
  font-size: 32px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #666;
}
a:hover {
  text-decoration: none;
  color: #333;
  transition-duration: 300ms;
}

#seccion1,
#seccion2,
#seccion3 {
  display: flex;
  margin-top: 30px;
}

#seccion1 div,
#seccion2 div,
#seccion3 div {
  width: 50%;
}

#seccion1 p,
#seccion3 ol {
  font-size: 32px;
  text-align: left;
  padding-left: 0;
}
#seccion3 ol li {
  line-height: 1.2em;
  margin-top: 20px;
}
#seccion3 {
  margin-bottom: 50px;
}

#seccion3 img {
  width: 80%;
  padding-top: 25px;
}
#seccion2 p {
  font-size: 28px;
  width: 90%;
}

#servicios {
  font-size: 55px;
}

#mail {
  background-color: #fcee21;
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 50px;
}

#mail p,
#mail a {
  padding: 30px;
}
#redes {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}

#redes h2 {
  font-size: 33px;
  color: #808080;
}
#redes img {
  height: 100px;
}
hr {
  border: 1px solid #808080;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 40px;
}
#formulario {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  height: 600px;
  align-items: stretch;
}

#formulario #formu1 {
  width: 45%;
}
#formulario section {
  width: 50%;
}
#contactanos {
  display: block;
  margin-top: 20px;
}
#contactanos p {
  display: inline-flex;
  margin-top: 60px;
}

#campos input,
#campos textarea {
  width: 100%;
  height: 50px;
  font-size: 27px;
}
#campos textarea {
  height: 200px;
}

#campos label {
  width: 100%;
  font-size: 27px;
  font-weight: 700;
  padding-top: 15px;
  margin-top: 15px;
  display: block;
}

#botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#botones .boton {
  margin: 20px 0px 20px 0px;
  padding: 2px 25px;
  height: 50px;
  font-size: 32px;
  font-weight: 700;

  background-color: #000;
  color: white;
}
